@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: #0a1128;
  --white-color: #ffffff;
  --light-gray-color: #eeeeee;
  --secondary-color: crimson;
  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; /* serve para animar suavemente a rolagem da página quando links internos (âncoras, ex: <a href="#secao">) são clicados ou ao usar métodos de rolagem via JavaScript, substituindo o salto instantâneo padrão por uma transição fluida. */
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem; /* 16px */
  color: var(--primary-color);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 6rem; /* 60px */
  text-transform: uppercase; /* coloca todas as letras em maiúsculas */
}

h2 {
  font-size: 6rem; /* 55px */
  margin-bottom: 5rem;
  text-transform: uppercase;
  height: -6rem;
  line-height: 1.2;
}

h3 {
  font-size: 5rem; /* 50px */
}

h4 {
  font-size: 4.5rem; /* 45px */
}

h5 {
  font-size: 4rem; /* 40px */
}

h6 {
  font-size: 3.5rem; /* 35px */
}

a {
  text-decoration: none; /* remove o sublinhado dos links */
}

p {
  margin-top: 3rem;
}

.main-bg {
  background-image: url(/assets/img/imagem1.png);
  background-size: cover; /* faz a imagem de fundo cobrir toda a área disponível */
  background-position: center center; /* centraliza a imagem de fundo */
  color: var(--white-color);
}

.white-bg {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}

.section {
  min-height: 100vh; /* faz a seção ocupar toda a altura da tela. É a altura minima */
}

.menu {
  position: fixed; /* fixa o menu na tela, mesmo quando o usuário rolar a página */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-content {
  display: flex; /* define o layout do menu como flexbox, permitindo alinhar os itens horizontalmente. coloca os itens do menu em uma linha */
  justify-content: space-between; /* distribui os itens do menu igualmente, com espaço entre eles */
  align-items: center; /* alinha os itens do menu verticalmente ao centro */
  padding-top: 0;
  padding-bottom: 0;
}

.menu-spacing {
  height: 6.5rem; /* adiciona um espaçamento de 70px para compensar a altura do menu fixo, evitando que o conteúdo fique oculto atrás do menu */
}

.intro-text-content,
.intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text-content h2 {
  font-size: 6rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.intro-img img,
.intro-img svg {
  max-width: 100%;
  height: auto;
}

.intro-content {
  position: relative; /* define a posição do conteúdo introdutório como relativa, permitindo que os elementos filhos sejam posicionados em relação a ele */
  display: grid; /* define o layout do conteúdo introdutório como grid, permitindo organizar os elementos em colunas e linhas */
  grid-template-columns: 1fr 1.5fr; /* cria duas colunas de igual largura */
  gap: var(
    --gap
  ); /* adiciona um espaçamento entre as colunas, usando a variável de espaçamento definida no :root */
  height: 100vh; /* faz o conteúdo introdutório ocupar toda a altura da tela */
  top: -15rem;
}

.top3-content {
  max-width: 64rem;
  display: flex;
  height: 100vh;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}

.menu h1 {
  font-size: 2.3rem; /* 23px */
  color: var(--primary-color);
}

.menu h1 a {
  color: inherit; /* herda a cor do elemento pai, mantendo a consistência visual */
}

.menu ul {
  list-style: none; /* remove os marcadores de lista */
  display: flex; /* define o layout da lista como flexbox, permitindo alinhar os itens horizontalmente. coloca os itens do menu em uma linha */
}

.menu ul li a {
  display: block; /* torna o link um elemento de bloco, permitindo que ele ocupe toda a área do item da lista. Por padrao ´display block é inline então ele não empurra o container pra baixo*/
  padding: 2rem; /* adiciona um espaçamento interno de 20px em todos os lados do link */
  font-size: 1.8rem; /* 18px */
  color: var(--primary-color);
  position: relative; /* define a posição do link como relativa, permitindo que o pseudo-elemento ::after seja posicionado em relação a ele */
}

.menu ul li a::after {
  content: ""; /* cria um pseudo-elemento vazio */
  position: absolute; /* posiciona o pseudo-elemento de forma absoluta em relação ao elemento pai */
  left: 50%; /* posiciona o pseudo-elemento no centro horizontal do elemento pai */
  bottom: 1rem; /* posiciona o pseudo-elemento a 10px da parte inferior do elemento pai */
  width: 0; /* define a largura inicial do pseudo-elemento como 0, para que ele não seja visível */
  height: 0.2rem; /* define a altura do pseudo-elemento como 2px, criando uma linha fina */
  background: var(
    --secondary-color
  ); /* define a cor de fundo do pseudo-elemento, que será a cor da linha que aparecerá ao passar o mouse sobre o link */
  transition: all 300ms ease-in-out; /* adiciona uma transição suave para todas as propriedades do pseudo-elemento, com duração de 300ms e efeito de aceleração e desaceleração */
}

.menu ul li a:hover::after {
  left: 25%; /* reposiciona o pseudo-elemento para a esquerda, criando um efeito de movimento ao passar o mouse sobre o link */
  width: 50%; /* aumenta a largura do pseudo-elemento para 50%, tornando-o visível e criando um efeito de destaque ao passar o mouse sobre o link */
}

.grid-one-content {
  display: flex;
  flex-flow: column wrap; /* organiza itens flexíveis verticalmente (em colunas) e, ao atingir o limite de altura, quebra os itens para uma nova coluna à direita. É uma abreviação para flex-direction: column e flex-wrap: wrap, ideal para listas longas que precisam preencher o espaço vertical antes de se estenderem horizontalmente.*/
  justify-content: center;
  height: 100vh;
}

.grid {
  display: grid; /*Transforma o elemento em um contêiner de grade, permitindo organizar seus filhos em linhas e colunas.*/
  grid-template-columns: repeat(
    3,
    1fr
  ); /*repeat(3, ...): Diz ao CSS para repetir uma definição 3 vezes. 1fr: Significa "uma fração" (fractional unit) do espaço disponível. Como são 3 colunas de 1fr, o espaço total é dividido em 3 partes iguais. Resumo: Você terá 3 colunas com exatamente a mesma largura, e se o navegador mudar de tamanho, elas se ajustam automaticamente.
*/
  gap: var(--gap);
  counter-reset: grid-counter; /*A propriedade counter-reset no CSS é usada para criar, inicializar ou reiniciar um ou mais contadores CSS, permitindo a numeração automática de elementos (como capítulos, seções ou itens de lista). Ela define o valor inicial de um contador (padrão é 0) e funciona em conjunto com counter-increment e a função counter() no content. 
*/
}

/*GRID: Este código CSS define um contêiner com layout de grade (Grid), criando automaticamente três colunas de tamanhos iguais, que se ajustam proporcionalmente ao espaço disponível (1fr cada). É a forma mais rápida de criar um layout responsivo de três colunas (ex: 1fr 1fr 1fr).*/

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 3rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -3rem;
  left: -2rem;
}

/*A propriedade content no CSS é usada exclusivamente com os pseudo-elementos ::before e ::after para inserir conteúdo gerado (texto, imagens ou atributos) dinamicamente no layout sem alterar o HTML. Ela permite adicionar elementos decorativos como ícones, aspas ou contadores.Uso principal: Deve ser usada com ::before ou ::after, ex: p::before { content: "Nota: "; }.

*/

/*::after e :hover são recursos CSS para estilização interativa. ::after cria um pseudo-elemento visual após o conteúdo de um seletor (comum com content: "").  Insere conteúdo decorativo (texto, ícones, formas) após o elemento alvo sem alterar o HTML. Exige a propriedade content: "". Enquanto :hover é uma pseudo-classe que aplica estilos quando o usuário passa o mouse sobre um elemento.  Ativa estilos quando o cursor do mouse está sobre o elemento, usado para botões, menus e links. Juntos, criam efeitos dinâmicos ao interagir, como linhas sublinhadas animadas.*/
